<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Halls</title>
</head>
<body>
<form method="post" action="/admin/panel/halls/add" th:object="${hall}">
    <label for="seats">Количество мест: </label>
    <input type="text" name="seats" id="seats" th:field="*{seats}">
    <button>Добавить</button>
</form>
<table>
    <tr>
        <td>id</td>
        <td>seats</td>
    </tr>
    <tr th:each="hall, iter: ${halls}">
        <td th:text="${hall.id}"></td>
        <td th:text="${hall.seats}"></td>
    </tr>
</table>
</body>
</html>